AreaRatio 45
Xmax_H_V_Dist 68
Xmin_H_V_Dist 28
Ymax_H_V_Dist 75
Ymin_H_V_Dist 34
decision-roi_OrAllPic 40
dilationsize 3
erosionsize 26
greenAlpha 420
kolmanThresh 56
max2VerticAreaSim 100
maxAngle 25
maxXDifVertPoles 100
maxYDifVertPoles 150
max_H_V_Leng 0
min2VerticAreaSim 40
minAngle 65
minCurves 4
minPixInObjInROI 2
minVertRectHeight 9
minWidthHorizonPole 33
minXDifVertPoles 29
min_H_V_Leng 230
objectImageFactor 3
originXInRoi 50
treshBlockSize 273
